# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de configuração local
config.json

# Executáveis
*.ex
*.spec
build/
dist/

# Pasta de áudios (opcional, remova se quiser versionar os áudios)
sons/
playlists/
.gitignore
